body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#allproducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.singleProductLink {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  margin-top: 100px;
  height: 350x;
}

.productTitle {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* flex-wrap: wrap; */
  width: 150px;
  height: 50px;
}

.singleProductPicture {
  display: flex;
  border-radius: 10px;
}

#signupButton {
  margin-left: 5px;
}

.authForm {
  display: flex;
  flex-direction: column;
}

.nameFields {
  display: flex;
  flex-direction: column;
}
